# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
data/example.parquet
data/vrz_limburg_2026.geojson
data/vrz_limburg_2026.parquet
data/vrz_locaties_limburg/apotheek.geojson
data/vrz_locaties_limburg/audiologisch_centrum.geojson
data/vrz_locaties_limburg/bibliotheek.geojson
data/vrz_locaties_limburg/cardiologie_centrum.geojson
data/vrz_locaties_limburg/dagbesteding.geojson
data/vrz_locaties_limburg/ergotherapiepraktijken.geojson
data/vrz_locaties_limburg/fysiotherapeut.geojson
data/vrz_locaties_limburg/geriatrische_revalidatiezorg.geojson
data/vrz_locaties_limburg/gezondheidscentrum.geojson
data/vrz_locaties_limburg/huisarts.geojson
data/vrz_locaties_limburg/kapper.geojson
data/vrz_locaties_limburg/medisch_hulpmiddel.geojson
data/vrz_locaties_limburg/medisch_pedicurepraktijken.geojson
data/vrz_locaties_limburg/oefentherapiepraktijk.geojson
data/vrz_locaties_limburg/ontmoeting.geojson
data/vrz_locaties_limburg/optometriepraktijk.geojson
data/vrz_locaties_limburg/ov.geojson
data/vrz_locaties_limburg/podologiepraktijk.geojson
data/vrz_locaties_limburg/podotherapiepraktijk.geojson
data/vrz_locaties_limburg/revalidatiecentrum.geojson
data/vrz_locaties_limburg/supermarkt.geojson
data/vrz_locaties_limburg/tandarts.geojson
data/vrz_locaties_limburg/tandprosthetischepraktijk.geojson
data/vrz_locaties_limburg/trombosedienst.geojson
data/vrz_locaties_limburg/verpleeghuis.geojson
data/vrz_locaties_limburg/welzijnswerk.geojson
data/vrz_locaties_limburg/wijkverpleging.geojson
data/vrz_locaties_limburg/ziekenhuis.geojson
data/vrz_locaties_limburg/parquet/apotheek_2026.parquet
data/vrz_locaties_limburg/parquet/dagbesteding_2026.parquet
data/vrz_locaties_limburg/parquet/fysiotherapeut_2026.parquet
data/vrz_locaties_limburg/parquet/huisarts_2026.parquet
data/vrz_locaties_limburg/parquet/ontmoeting_2026.parquet
data/vrz_locaties_limburg/parquet/ov_2026.parquet
data/vrz_locaties_limburg/parquet/supermarkt_2026.parquet
data/vrz_locaties_limburg/parquet/tandarts_2026.parquet
data/vrz_locaties_limburg/parquet/ziekenhuis_2026.parquet
data/.vscode/settings.json
data/loopafstand_ov_old.parquet
data/ov.geojson
data/ov.parquet
data/__pycache__/convert-geojson-to-parquet.cpython-312.pyc
